{{# this}}
	{{#with object}}
		<h4 class="bg-white borderB">{{name}}</h4>
	{{/with}}
	<div class="row">
		{{#each list}}
			<div class="col-25 ac list-div" >
				<a href="/goods/list.html?categoryId={{id}}" class="external block">
					<img src="http://img.fancyedu.com/image1.jpg@1e_220w_220h_1c_0i_1o_90Q_1x.jpg" >
				</a>
				<span class="name">{{name}}</span>
			</div>
		{{/each}}
	</div>
{{/this}}