.buttons-tab:after{
	height: 0;
}
.buttons-tab .button.active{
	color: #d94b73;
	border-color: #d94b73;
}
.theme-pink .button:not(.button-fill){
	border-color: transparent;
	color: #888;
}
.theme-pink .button:not(.button-fill).active{
	background: none;
	color: #d94b73;
	border-color: #d94b73;
}

.isOver .item-inner{
	background-image: none!important;
}

.d-mes{
	background:url('/WEB-UED/fancy/src/c/img/t.png') repeat-x top left;
	background-clip:border;
	background-origin:border;
}
.d-mes .d-inner{
	background:url('/WEB-UED/fancy/src/c/img/b.png') repeat-x bottom left;
	background-clip:border;
	background-origin:border;
	/*padding: 10px 0;*/
}
.d-in{
	background-color: #ffbbce;

}