{{# goodsVOList}}
    <h4 class="h4-title pd10">图书套装</h4>
    <div class="col-33 opacity-box auto-img bg-white">
        <a class="img external" href="/goods/detail.html?goodsId={{id}}">
            <img  src="http://img.fancyedu.com/image1.jpg@1e_85w_85h_1c_0i_1o_90Q_1x.jpg">
        </a>
        <div class="ac ellipsis opacity-title">{{name}}</div>
        <i class="iconfont collection-add">&#xe608;</i>
    </div>
{{/goodsVOList}}