.buttons-tab .button.active{
	color: #d94b73!important;
	border-color: #d94b73!important;
}

.h4-title{
	margin-bottom: -20px;
}

.show-my-packet{
	width: 10rem;
	height: 10rem;
	margin: 0 auto;
	border-radius: 100%;
	position: relative;
}
.show-my-packet.red{
	border: solid 1px #E83227;
	color: #E83227;
}
.show-my-packet.gray{
	border: solid 1px #ccc;
	color: #ccc;
}
.show-my-packet.gray i{
	font-size: 6rem;
}
.show-my-packet i{
	font-size: 4rem;
}
.show-my-packet p{
	font-size: 2rem;
	margin-top: -0.75rem;
}
.tabs .content-block{
	padding-top: 1rem;
}