.activity-nav{
	font-size: 0.75rem;
	line-height: 1rem;
	color: #888;
}
.activity-nav div[class^="col-"]{
	padding: 5px 0;
}
.activity-nav div.active{
	color: #fff;
	background: #d94b73;
}

