
.order-status{
	padding: 20px 40px;
	min-height: 46px;
}
.order-status i{
	top: 10px;
	margin-right: 20px;
}

.express-ul{
	border-left: solid 1px #f2f2f2;
	  padding-left: 20px;
	  margin-left: 10px;
}
.express-ul li{
	position: relative;
}
.express-ul li i{
	position: absolute;
  left: -27px;
  top: 0;
  font-size: 10px;
}

.has-express .J-view-li:last-child{
	display: block;
}

.bar-nav-sup~.content{
	padding-top: 2rem;
}

em.color-red{
	font-size: 22px;
	vertical-align: middle;
	line-height: 24px;
	margin-right: 5px;
}