/*! define alinw/calendar/1.1.1/calendar-debug.css */
/*! block alinw/calendar/1.1.1/css/date-debug.css */
/* date */
.ui-calendar-date {
    border: none;
    box-shadow: none;
    border-collapse: separate;
    *border-collapse: collapse;
    border-spacing: 0;
}
table.ui-calendar-date tr {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #fff;
}
.ui-calendar-date td, .ui-calendar-date th {
    width: 34px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    text-align: center;
    border: none;
    cursor: pointer;
}
.ui-calendar-date td {
    height: 26px;
    line-height: 26px;
}
.ui-calendar-date .ui-calendar-day-column {
}
.ui-calendar-date .ui-calendar-day-column th {
    border-color: #868686;
    cursor: default;
    font-weight: 700;
}
.ui-calendar-date .ui-calendar-date-column .ui-calendar-day-0,
.ui-calendar-date .ui-calendar-date-column .ui-calendar-day-6 {
    color: #df663e;
}
.ui-calendar-date .ui-calendar-date-column td:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}
.ui-calendar-date .ui-calendar-date-column td.previous-month,
.ui-calendar-date .ui-calendar-date-column td.next-month {
    color: #999;
}
.ui-calendar-date .ui-calendar-date-column td.previous-month:hover,
.ui-calendar-date .ui-calendar-date-column td.next-month:hover {
    cursor: default;
    border-color: #fff;
}
.ui-calendar-date .ui-calendar-date-column td.focused-element {
    color: #fff;
    background: #288df0;
}
.ui-calendar-date .ui-calendar-date-column td.disabled-element {
    background: #ccc;
    color: #999;
}
.ui-calendar-date .ui-calendar-date-column td.disabled-element:hover {
    border-color: #fff;
}
/*! endblock alinw/calendar/1.1.1/css/date-debug.css */

/*! block alinw/calendar/1.1.1/css/month-debug.css */
/* month */
.ui-calendar-month {
    border: none;
    box-shadow: none;
    border-collapse: separate;
    *border-collapse: collapse;
    border-spacing: 0;
}
table.ui-calendar-month tr {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #fff;
}
.ui-calendar-month .ui-calendar-month-column td {
    width: 79px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    margin: 0;
    text-align: center;
    border: none;
    cursor: pointer;
}
.ui-calendar-month .ui-calendar-month-column td:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}
.ui-calendar-month .ui-calendar-month-column td.focused-element {
    color: #fff;
    background: #288df0;
}
.ui-calendar-month .ui-calendar-month-column td.disabled-element {
    background: #e2e2e2;
    color: #c3c3c3;
}
.ui-calendar-month .ui-calendar-month-column td.disabled-element:hover {
    border-color: #fff;
}
/*! endblock alinw/calendar/1.1.1/css/month-debug.css */

/*! block alinw/calendar/1.1.1/css/year-debug.css */
/* year */
.ui-calendar-year {
    border: none;
    box-shadow: none;
    border-collapse: separate;
    *border-collapse: collapse;
    border-spacing: 0;
}
table.ui-calendar-year tr {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #fff;
}
.ui-calendar-year .ui-calendar-year-column td {
    width: 79px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    margin: 0;
    text-align: center;
    border: none;
    cursor: pointer;
}
.ui-calendar-year .ui-calendar-year-column td:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}
.ui-calendar-year .ui-calendar-year-column td.focused-element {
    color: #fff;
    background: #288df0;
}
.ui-calendar-year .ui-calendar-year-column td.disabled-element {
    background: #e2e2e2;
    color: #c3c3c3;
}
.ui-calendar-year .ui-calendar-year-column td.disabled-element:hover {
    border-color: #fff;
}
/*! endblock alinw/calendar/1.1.1/css/year-debug.css */

/*! block alinw/calendar/1.1.1/css/time-debug.css */
/* time */
.ui-calendar-time-container{
    padding: 10px;
}

.ui-calendar-time-input-cont input{
    width: 26px;
    text-align: center;
}
.ui-calendar-time-input-cont .kuma-button-sblue{
    position: relative;
    top: -1px;
    margin-left: 6px;
    padding: 0 5px;
}
.ui-calendar-time-sep{
    margin: 0 5px;
    font-weight: 700;
    color: #444;
}

.ui-calendar-tip-cont{
    display: none;
}

.time-table{
    border: none;
    margin: 10px 0;
    padding: 0;
    width: 100%;
    background: #fff;
}
.time-table td{
    width: 24px;
    height: 24px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 100;
}
.time-table td:hover{
    cursor: pointer;
    background-color: #f2f2f2;
}
.time-table td.focused-element{
    color: #fff;
    background: #288df0;
}
/*! endblock alinw/calendar/1.1.1/css/time-debug.css */

.ui-calendar {
    position: absolute;
    font: 14px/16px arial, 'Hiragino Sans GB', sans-serif;
    background: #f9f9f9;
    border-spacing: 0;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 9px #ccc;
    text-align: center;
    /*width: 238px;*/
    width: 210px;
    z-index: 10;
    color: #666;
}
.ui-calendar .ui-calendar-date,
.ui-calendar .ui-calendar-month,
.ui-calendar .ui-calendar-year {
    border: none;
    box-shadow: none;
    border-collapse: separate;
    *border-collapse: collapse;
    border-spacing: 0;
}
.ui-calendar .ui-calendar-pannel {
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    background: #f9f9f9;
}
.ui-calendar .ui-calendar-pannel:after,
.ui-calendar .ui-calendar-pannel:before {
    display: table;
    line-height: 0;
    content: "";
}
.ui-calendar .ui-calendar-pannel:after {
    clear: both;
}
.ui-calendar .ui-calendar-control {
    display: inline-block;
    float: left;
    width: 13%;
    *display: inline;
    *width: 20px;
    *zoom: 1;
    cursor: pointer;
    font-weight: normal;
}
.ui-calendar .ui-calendar-control:hover {
    background-color: #efefee;
}
.ui-calendar .ui-calendar-pannel .month,
.ui-calendar .ui-calendar-pannel .year {
    width: 24%;
}
.ui-calendar-container {
    border-bottom: 1px solid #dadada;
    background-color: #fff;
}
.ui-calendar td.disabled-element {
    cursor: not-allowed !important;
}
.ui-calendar-today {
    line-height: 30px;
    font-weight: 700;
    cursor: pointer;
}
.ui-calendar-today.disabled-element {
    color: #ccc;
    cursor: default;
}
