/*! define alinw/tip/2.1.0/tipconfirm-debug.css */
.kuma-tip-confirm {
    position: relative;
    max-width: 200px;
    padding: 5px 0 5px 0;
    width: auto;
    background-color: #fff;
    z-index: 100;
    color: #323232;
    font-size: 14px;
    border-radius: 3px;
}

.kuma-tip-confirm .kuma-tip-confirm-title {
    font-size: 12px;
    font-weight: bold;
}

.kuma-tip-confirm .kuma-tip-confirm-content {
    font-size: 12px;
}

.kuma-tip-confirm .conform-arrow {
    position: absolute;
    left: 120px;
    top: -8px;
}

.kuma-tip-confirm .arrow_bg {
    display: block;
    height: 14px;
    color: #fff;
    margin-top: -11px;
}

.kuma-tip-confirm .arrow_line {
    display: block;
    height: 12px;
    color: #bababa;
}

.kuma-tip-confirm .ok-button {
    margin-right: 6px;
}

.kuma-tip-confirm .kuma-icon {
    padding-right: 5px;
}

.kuma-tip-confirm .kuma-icon-caution {
    color: #ff9419;
}

.kuma-tip-confirm .kuma-icon-success {
    color: #88d05c;
}

.kuma-tip-confirm .kuma-icon-error {
    color: #e96553;
}

.kuma-tip-confirm .kuma-icon-info {
    color: #48c5ff;
}

.kuma-tip-confirm .kuma-tip-confirm-action {
    text-align: center;
    padding-top: 5px;
}
