<!-- Text inputs -->
<ul>
    <li>
        <div class="item-content">
            <div class="item-inner">
                <div class="item-title label">姓名</div>
                <div class="item-input">
                    <input type="text" id="J-name" placeholder="收货人姓名">
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="item-content">
            <div class="item-inner">
                <div class="item-title label">手机</div>
                <div class="item-input">
                    <input type="number" id="J-phone" placeholder="手机号码">
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="item-content">
            <div class="item-inner">
                <div class="item-title label">邮编</div>
                <div class="item-input">
                    <input type="number" id="J-code" placeholder="邮编">
                </div>
            </div>
        </div>
    </li>
    <!-- Select -->
    <li>
        <div class="item-content">
            <div class="item-inner">
                <div class="item-title label">省市区</div>
                <div class="item-input">
                    <input type="text" id='J-city' value="" />
                </div>
            </div>
        </div>
    </li>
    <li class="align-top">
        <div class="item-content">
            <div class="item-inner">
                <div class="item-title label">详细地址</div>
                <div class="item-input">
                    <textarea id="J-detail-address"></textarea>
                </div>
            </div>
        </div>
    </li>
</ul>